﻿@model GundamZoneProject.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Quên mật khẩu";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">
<link href="~/Assets/CustomerCss/forgot-password.css" rel="stylesheet" />

<div class="forgot-wrapper">
    <h2 class="forgot-title">Quên mật khẩu</h2>
    <p class="forgot-subtitle">Nhập email của bạn để nhận liên kết đặt lại mật khẩu.</p>

    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary("", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>

        <button type="submit" class="btn-forgot">Gửi email</button>
    }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
